body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
    position: absolute;
    right: 0px;
    left: 480px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 150px;
    width: 330px;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    border-style: solid;
    border-color: black;
}

.sidebar2 {
    position: absolute;
    left: 0px;
    width: 150px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    border-style: solid;
    border-color: darkblue;
    border-width: medium;
    background-color: lightgrey;
}


.well{
  width: 100%;
  height: 100%;
}

.dropdown{
  left: -25px;
}

.dropdown-menu{
  left:-25px;
}

.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 12px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: absolute;
    bottom: 0;
    left: 100;
    width: 240px;
    padding-bottom: 1px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 10px 20px 15px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

/* =============
Media Queries
============= */

@media screen and (min-width: 480px) and (max-width: 800px) {
    /*.item {
        background-color: blue;
    }*/
}

@media screen and (max-width: 479px) {
    /*.item {
        background-color: red;
    }*/
}
